---
import Layout from "../layouts/Layout.astro";
import HeaderWithNav from "@/components/HeaderWithNav.astro"
import {SideNav} from "@/components/SideNav"
import { ComponentExample } from "@/components/ComponentExample";
import {
  typographyVariants,
} from "@/components/ui/typography";

const reveal = typographyVariants({ reveal: "animate", family:"mono", size:'body-s'});
const classes = {
  reveal: reveal,
  code:`my-2 md:my-4 ${reveal}`,
  exampleItem: `flex flex-col px-4 w-screen md:px-20 ${reveal}`
}
---

<Layout
  title="Typography test"
>
  <HeaderWithNav  hasMobileAside={true} />
  <div class="flex w-screen">
    <aside class="hidden md:block h-screen font-sans">
        <SideNav client:load/>
    </aside>
        <main
        class="flex flex-grow basis-1 justify-start px-12 items-start gap-10 font-serif text-grey py-12"
        >
            <ComponentExample client:load /> 
        </main>
    </div>
</Layout>
